background
{
    margin:0;
}

div.header
{
    position:relative;
    display:block;
    word-spacing:10px;
    align-items:flex-start
    font-family:Helvetica;
    color:white;
    word-spacing:10px;
    background-color:black;
    height:75px;   
}

h1 
{
    position:relative;
    background-color: white;
    padding:0px;
    text-align:center;
    color: black;
    font-family: Helvetica;
    font-size: 70px; 
}

h2 
{
    position:relative;
    right:0;
    top:-39;
    width:700px;
    text-indent:6em;
    padding:0;
    vertical-align:middle;
    word-spacing:10px;
    color:white;
    font-family:Helvetica;
    font-size: 16px;
}

h3
{
    position:relative;
    text-align:center;
    font-family:Helvetica;
    font-size:14px;
    color:white;
}

p4
{
    position:relative;
    right:20px;
    top:-69;
    width:700px;
    padding:0;
    vertical-align:middle;
    text-align:right;
    word-spacing:10px;
    color: white;
    font-family: Helvetica;
    font-size: 16px;
}


a1
{
    position:relative;
        top:80px;
    align-items:center;
    text-align:center;
    color:white;
    font-size:30px;
    font-family:Helvetica;
}

div1
{
    padding:20px
}



body
{
    display:block;
    background-color:white;
    margin:0;
}

footer
{
    display:block;
    background-color:darkgray;
}

button
{
    border-radius:9999px
    
}

img-center
{
    max-width:100%;
    height:auto;
    vertical-align:middle;
}


html, body, .sonar-wrapper {
  height: 100%;
}

/* Prevent scrollbars to appear when waves go out of bound */
.sonar-wrapper {
  position: relative;
    top:-60px;
    left:0;
  z-index: 0;
  overflow:;
  padding: 8rem 0;
}

/* The circle */
.sonar-emitter {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  background-color:66cc66;
}

/* the 'wave', same shape and size as its parent */
.sonar-wave {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color:66cc66;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

/*
  Animate!
  NOTE: add browser prefixes where needed.
*/
.sonar-wave {
  animation: sonarWave 1s linear infinite;
}

@keyframes sonarWave {
  from {
    opacity: 0.6;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}


