html
{
  width:100%;
  height:100%;
  position:relative;
}

background
{
    margin:0px;
    position:relative;
    display:flex;
}

header
{
    color:white;
    background:#66CC33;
    margin:0px;
}

header::after
{
  clear:both;
}

body
{
    margin:0;
    background:white;
    font-family:sans-serif;
    font-weight:400;
}

footer
{
  bottom:0px;
  background:lightgray;
  width:100%;
  height:400px;
  position:absolute;
  float:bottom;
  font-size:14px;
  align-text:justify;
  text-indent:10px;
}

about.container
{
  position:right;
  margin-right:0px;
  height:400px;
  width:100%;
  justify-content: right;
  font-family:sans-serif;
  font-size:30px;
  font-weight:bold;
  text-align:right;
  align:right;
}

.wrapper
{
  display:flex;
  width:100%;
  position:absolute;
  top:300px;
  z-index:-10px ;
  margin-left:0px;
  float:left;
}

.container
{
  width:100%;
  margin:0 0px;
}

.logo
{
  float:left;
  margin:0px;
  padding-left:20px;
  padding-top:5px;
  padding-bottom:10px;
}

nav
{
  float:none;
}

nav ul
{
    display:inline-table;
    margin:0;
    padding:0;
    overflow:hidden;
    text-align:center;
    list-style:none;
}

nav form
{
    float:right;
    margin-right:20px;
    padding-top:25px;
}

nav li
{
  display: inline-block;
  font-family:sans-serif;
  font-weight:bold;
  margin:25 -15px;
  padding-left:45px;
}

nav a
{
  color:white;
  text-decoration:none;
  text-transform:uppercase;
  font-size:16px;
}

nav a:hover, a:active
{
  color:AD6EFF;
  transition:all ease-in-out .5s;
}

f1
{

}



html, body, .sonar-wrapper
{
  height: 100%;
}

/* Prevent scrollbars to appear when waves go out of bound */
.sonar-wrapper {
  position:relative;
    margin-top:0px;
    margin-left:0px;
  height:200px;
  width:300px;
  text-align:center;
  justify-content: center;
}

/* The circle */
.sonar-emitter {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  text-align:center;
  align-items:center;
  border-radius: 9999px;
  background-color:FF33FF;
}

/* the 'wave', same shape and size as its parent */
.sonar-wave {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color:FF33FF;
  opacity: 0;
  z-index: -1;
  pointer-events:none;
}

/*
  Animate!
  NOTE: add browser prefixes where needed.
*/
.sonar-wave {
  animation: sonarWave 1s linear infinite;
}

@keyframes sonarWave {
  from {
    opacity: 0.6;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
