h1 
{
    background-color: black
    text-align: center;
    color: black;
    font-family: Helvetica;
    font-size: 32px;
}

h2 
{
    background-color: black
    text-align: right;
    color: black;
    font-family: Helvetica;
    font-size: 18px;
}
p1 
{
    text-align: left;
    color: darkgray
    background-color:lightgray;
}

button 
{
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

title
{
    text-align: center
    color:black
    font-family:Helvetiva
    font-size:24px
    position:center
}
header 
        {
        padding: 1em;
        color:black;
        background-color:black;
        clear: left;
        text-align: center;
        }